@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:wght@400;700&display=swap');

*{
    font-family: 'Gentium Plus', serif; user-select: none;
    padding: 0; margin: 0; box-sizing: border-box;
}
body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
    
    background-size: 100%;
    background-image: url("login.jpg");
    min-height: 100vh; width: 100%;
    display: flex;
    align-items: center; justify-content: center;
    
}
.content{
    width: 90%; height: 600px;
    display: flex;
    align-items: center; justify-content: center;
}
.container{
    width: 350px; min-height: 400px;
    background-color: white;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.01);
    display: flex; flex-direction: column;
    align-items: center; justify-content: space-between;
}
.nav, .btn{
    height: 100px; outline: none; border: none; cursor: pointer;
    width: 100%; display: flex; align-items: center;
    justify-content: center;
}
.btn{
    background-color: #cdb4db;
    transition: 0.2s linear; font-size: 15px;
    font-weight: 700; color: black;
}
#signUp{
    display: none;
    flex-direction: column;
    transition: 0.2s linear;
    position: absolute;
}
.btn1{
    background-color: white;
}
#login{
    display: flex;
    flex-direction: column;
    transition: 0.2s linear;
    position: absolute;
}
.main{
    height: 350px; width: 100%;
    display: flex; align-items: center; justify-content: space-evenly;
}
.loginClass, .signupClass{
    width: 350px;
    display: flex; align-items: center; justify-content: center;
}
input[type="text"], input[type="password"], input[type="email"]{
    width: 300px; outline: none; height: 30px; border: none;
    border-bottom: 2px solid #cdb4db; font-size: 15px;
}
input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder{
    color: #cdb4db;
}
button{
    background-color: #ffc8dd; width: 300px; border: none;
    outline: none; cursor: pointer; height: 40px; color: black;
    font-weight: 700; font-size: 15px;
}
#signBtn{
    margin-top: 10px;
    
}
.enquire{
    display: flex; width: 300px;
    justify-content: space-between; align-items: center;
}
a{
    color: black;
    text-decoration: none;
}
body {
    font-family: 'Arial';
}
.button-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.button-group button {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.button-group button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 #ccc;
}
.dialog-container {
    position: absolute;
    left: 50%;
    top: -30%;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
    background: #fff;
    padding: 10px;
    border: 2px solid #ddd;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s linear 0s;
}
.dialog-header {
    padding: 10px;
    font-weight: bold;
    background: #575757;
    color: #f6f7f8;
}
.dialog-body {
    padding: 10px;
    line-height: 30px;
}
.dialog-footer {
    text-align: center;
    background: #f5f5f2;
    padding: 3px 0;
}
.dialog-footer a {
    display: inline-block;
    width: 100px;
    padding: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #eee;
    cursor: pointer;
}
.dialog-footer a:active {
    box-shadow: inset 2px 2px 4px 0 #ccc;
    color: #666;
}
